<!DOCTYPE html>
<html>
	<head></head>
	<script src="/socket.io/socket.io.js"></script>
	<body>
		<h1>Vedio streaming through socket.io </h1>
		<video id="video" autoplay style="display:inline"></video>
		<img id='playImg' style="display:inline">
		<canvas id="selfImage_canvas" width="640" height="480" style="display:inline" ></canvas>
	</body>
	<script async src="/assets/getUsermedia.js"></script>
</html>
